################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Com.KiddoPay.Auth.Service/obj
/Com.KiddoPay.Auth.Service/bin
